.vertical-select-outer {
  padding: 1% 0;
  display: flex;
  flex-direction: column;
}
.vertical-select-container {
  height: 100%;
}

.dropdown {
  padding: 0 3%;
  display: flex;
  gap: 1%;
  align-items: center;
}

@media (max-width: 600px) {
  .dropdown {
    align-self: center;
  }
}

.vertical-select {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 2% 3%;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .vertical-select {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 5px;
  }
}

.vertical-select-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  justify-content: flex-start;
}

.vertical-select-item-text {
  font-weight: bold;
  flex-grow: 1;
}

.vertical-select-item-icon {
  transform: scale(1.2);
  display: absolute;
  color: var(--primary);
}

.vertical-select-item-label {
  width: 100%;
  margin: 0;
}
