html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif !important;
  background-color: rgb(15, 15, 15);
  margin: 0 !important;
  overflow-x: hidden;
}

svg {
  fill: var(--primary);
}
/* apply smooth transition as default evcept for mui popper */
*:not([class*='popper']) {
  transition: all 0.2s ease-out;
}

.page-container {
  --font-scale: 1;
  --title-size: calc(3rem * var(--font-scale));
  --subtitle-size: calc(2rem * var(--font-scale));
  --description-size: calc(1.1rem * var(--font-scale));

  --raw-title-size: 3rem;
  --raw-subtitle-size: 2rem;
  --raw-description-size: 1.1rem;
}

.emphasis {
  font-weight: bold;
  color: var(--secondary);
}

.less-important {
  opacity: 0.75;
  color: var(--less-important);
}

.title {
  font-weight: 500;
  font-size: calc(3rem * var(--font-scale));
}

.subtitle {
  font-weight: 500;
  font-size: calc(2rem * var(--font-scale));
}

.description {
  font-size: calc(1.1rem * var(--font-scale));
}

.button {
  font-size: calc(1.1rem * var(--font-scale));
}

.common-button {
  aspect-ratio: 3.618/1;
  text-transform: capitalize;
  color: var(--secondary);
  background-color: transparent;
  outline: 2px solid var(--primary);
}

.common-button:hover {
  outline-color: var(--secondary);
  background-color: transparent;
  color: var(--primary);
}

@media (max-width: 800px) {
  .page-container {
    --title-size: calc(2rem * var(--font-scale));
    --subtitle-size: calc(1.4rem * var(--font-scale));
    --description-size: calc(1rem * var(--font-scale));

    --raw-title-size: 2rem;
    --raw-subtitle-size: 1.4rem;
    --raw-description-size: 1rem;
  }

  .title {
    font-size: calc(2rem * var(--font-scale));
  }

  .subtitle {
    font-size: calc(1.4rem * var(--font-scale));
  }

  .description {
    font-size: calc(1rem * var(--font-scale));
  }

  .button {
    font-size: calc(1rem * var(--font-scale));
  }
}

@media (max-width: 600px) {
  .page-container {
    --title-size: calc(1.5rem * var(--font-scale));
    --subtitle-size: calc(1.2rem * var(--font-scale));
    --description-size: calc(0.9rem * var(--font-scale));

    --raw-title-size: 1.5rem;
    --raw-subtitle-size: 1.2rem;
    --raw-description-size: 0.9rem;
  }

  .title {
    font-size: calc(1.5rem * var(--font-scale));
  }

  .subtitle {
    font-size: calc(1.2rem * var(--font-scale));
  }

  .description {
    font-size: calc(0.9rem * var(--font-scale));
  }

  .button {
    font-size: calc(0.9rem * var(--font-scale));
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
