.opp-text {
  padding: 5% 10%;
}

.opp-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  width: 80%;
}

.form-control {
  width: 100%;
}

.opp-logo {
  width: 40vh;

  border-radius: 10px;
  outline: 2px dashed var(--less-important);
}
.opp-logo-img {
  width: 40vh;
  height: 10vh;
  cursor: pointer;
}
